<footer id="footer">
  <ul class="contact-list pull-left">
    <li> <a href="mailto:info@riverwavefoods.com"><i class="fa fa-envelope"></i>info@riverwavefoods.com</a> </li>
    <li> <a href="tel:8451225678"><i class="fa fa-phone"></i>(845) 122 5678</a> </li>
    <!-- <li> <a href="#"><i class="fa fa-map-marker"></i>285 Lexington Ave, New York</a> </li> -->
    <!-- <li> <a href="#"><i class="fa fa-clock-o"></i>Hours</a> </li> -->
  </ul>
  <ul class="social-list pull-right">
    <li><a href="#" class="fa fa-pinterest-p"></a></li>
    <li><a href="#" class="fa fa-twitter"></a></li>
    <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
    <li><a href="#" class="fa fa-facebook"></a></li>
  </ul>
</footer>
