<div id="wrapper">
  <div class="w1">
    <main id="main" role="main">
      <div class="container">
        <div class="col-lg-12">
          <header class="head-page">
            <h1>about</h1>
          </header>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="white">
            <h2>River Wave Foods : The Story</h2>
            <p class="sub-heading connected">How it all started.</p>
            <div class="borderline"></div>
            <div class="alignleft images"> <%= image_tag("about.jpg", alt: "image description")%></div>
            <p class="text-left">River Wave Foods multicultural, gourmet cooking sauces and tapenade use fresh ingredients. Our cooking sauces were created in the belief that great food is as simple as bringing together the right balance of flavors using quality, fresh ingredients.

            </p>
            <p class="text-left"> Our products reflect the migration of not only global flavors but our own taste experiences. Until recently, ethnic dining was limited to large metropolitan cities such as San Francisco, New York or Los Angeles. Who would have thought there would be a time when the American dining experience would mirror the multi ethnic reality of our communities and that Middle Eastern cuisine, Japanese or Thai food would become as readily available as the all American burger?
            </p>
            <p class="text-left">Ours is an epicurean journey one which we hope offers a dining experience of exploration, creativity, collaboration and joy. We invite you to join us as we explore the art of eating, an adventure to be shared and savored.
            </p>
            <h3 class="text-center">Bon Appetit!. </h3>
            <!--<p><span><a href="#">Read More</a></span></p>-->
          <!--</div>
          <div class="break"></div>
          <div class="white" id="hours">
            <h2>The Open Hours</h2>
            <p class="sub-heading connected">We're closed on Mondays.</p>
            <div class="borderline"></div>
            <div class="left-aligned">
              <div class="dots"></div>
              <h3>Tuesday</h3>
              <p><span class="price">9am - 11pm</span></p>
            </div>
            <div class="left-aligned">
              <div class="dots"></div>
              <h3>Wednesday</h3>
              <p><span class="price">9am - 2pm &amp; 4pm - 10pm</span></p>
            </div>
            <div class="left-aligned">
              <div class="dots"></div>
              <h3>Thursday</h3>
              <p><span class="price">9am - 11pm</span></p>
            </div>
            <div class="left-aligned">
              <div class="dots"></div>
              <h3>Friday through Sunday</h3>
              <p><span class="price">2pm - 4am</span></p>
            </div> -->
          </div>
          <div class="break"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="white">
            <div class="round"><%= image_tag("chef.jpg", alt: "image description")%></div>
            <h5><span>Our</span> Kitchen Chef</h5>
            <h3>Rebecca Kawanami</h3>
            <p>Try our most popular Argentinean Chimichurri Sauce.Try our most popular Argentinean Chimichurri Sauce.Try our most popular Argentinean Chimichurri Sauce. Try our most popular Argentinean Chimichurri Sauce. Try our most popular Argentinean Chimichurri Sauce. Try our most popular Argentinean Chimichurri Sauce. </p>
            <p><a href="#" target="_blank" class="odr_num fa fa-pinterest-p" style="padding:5px"></a> 
              <a href="#" target="_blank" class="odr_num fa fa-twitter" style="padding:5px"></a>
              <!-- <a href="#" target="_blank" class="fa fa-google-plus" style="padding:5px"></a>  -->
              <a href="#" target="_blank" class="odr_num fa fa-facebook" style="padding:5px"></a></p>
          </div>
          <!--<div class="break"></div>
          <a href="reservations.html">
          <div class="transparent">
            <h5><span>Ready to</span> book a table <span>?</span></h5>
          </div>
          </a> </div>
        <div class="clear"></div>
      </div> -->
    </main>
    <!-- end main content -->
  </div>
</div>
<div class="slideshow">
  <div class="slideset">
    <div class="slide bg-stretch"> <%= image_tag("fullhome1.jpg", alt: "image description", size: "1600x1083")%><!-- <img src="fullhome2.jpg" height="1226" width="1600" alt="image description"> --></div>
  </div>
</div>
<style type="text/css">
  @media(min-width:768px){
    .cont-margin{
      margin-top: 150px !important; 
    }
  }

  @media(max-width:480px){
    .cont-margin{
      margin-top: -30px !important; 
    }
  }
</style>